# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Shell-style glob section
#################################
syntax: glob

## General artifacts
*.o
*.ctl
*.dat
*.log
*.log1
*.serialized
*.textmode
*.sar
*.pidmap
*.sctmap
*.log.*
out.txt

## Eclipse and Java artifacts
.classpath
.project
.settings/
bin/**
*infinitest.filters

## Maven
target/

